*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-family: "Lora", serif;
  font-optical-sizing: auto;
  
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;

}
 nav{
    flex:1;
    text-align: right
}
 nav>ul>li:hover{
       transition: background 0.5s;
  background: #ffd6d6;
 }


nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
 
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
        padding-left: 60px
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 50px;
    margin: 25px 0;
    padding-left: 0px;
}
.btn{
    margin-top: 10px;
    display: inline-block;
    background-color: #ff523b;
    color: white;
    padding: 8px 30px;
    border-radius: 30px;
    

}
.btn:hover{
    transition: background 0.5s;
  background: #563434;
}
.colour{
    background: radial-gradient(#fff,#ffd6d6);
}
  
.colour .row{
    margin-top: 20px;
}
.categories{
    margin-top: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
         width: 100%;
   
}
.adjust{
    max-width: 1080px;
    margin: auto;
    margin-top: 40px;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 15%;
    transition: transform 1s;
}
.col-4 img{
    width: 100%;
}



.title {
  position: relative;
  text-align: center;
  font-size: 30px;
  margin: 0 auto 80px;
  padding-bottom: 10px;
}

.title::after {
  content: '';
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.col-4 p{
    color: #555;
}
.col-4 h4{
    color: #555;
    padding: 30px;
}
.rating{
    color: #ff523b;
}
.col-4 :hover{
    transform: translateY(-5px);
}

.offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px;
}
.col-2 .offer img{
    padding: 50px;
}


/* --- Responsive Styles (Phones/Tablets) --- */
@media (max-width: 768px) {
  .row {
    flex-direction: column;
    text-align: center;
  }

  .col-2, .col-3, .col-4 {
    flex-basis: 100%;
  }

  img {
    width: 100%;
    height: auto;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }
}
